<% if student_signed_in? %>
  <div class=>
    <p><%= current_student.grade %>年<%= current_student.team %>組<%= current_student.number %>番</p>
    <%= current_student.name %>としてログインしています
  </div>
  <div>
    <%= link_to 'New Dot', new_dot_path %>
  </div>
  <%= link_to 'ログアウト', destroy_student_session_path, method: :delete %>
<% else %>
  <%= link_to 'ログイン', new_student_session_path %>
  <%= link_to '新規登録', new_student_registration_path %>
<% end %>