<!DOCTYPE html>
<html>
  <head>
    <title>ConnectingDots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="header_title_box">
        <%= link_to 'Connecting the Dots',root_path, class: "header_title" %>
        <p class="header_title_bottom">-for Students</p>
      </div>
      <div class="header_right">
        <% if student_signed_in? %>
          <ul class="header_buttons">
            <li class="new_dot">
              <%= link_to "New Dot", new_dot_path, class: "new_dot_btn" %>
            </li>
            <li class="student_session">
              <p id="menu_trigger">Student</p>
            </li>
          </ul>
          <ul id="session_menu">
            <li class="menu_list" id="student_edit"><%= link_to "生徒情報編集", edit_student_registration_path %></li>
            <li class="menu_list"><%= link_to "ログアウト", destroy_student_session_path, method: :delete, class: "session_btn" %></li>
          </ul>
        <% else %>
          <ul class="header_buttons">
            <li class="student_session">
              <%= link_to "ログイン", new_student_session_path, class: "session_btn" %>
            </li>
            <li class="student_session">
              <%= link_to "新規登録", new_student_registration_path, class: "session_btn" %>
            </li>
          </ul>
        <% end %>
      </div>
    </header>
    <div class="student_info">
      <% if student_signed_in? %>
        <p class="student_num"><%= current_student.grade %>年</p>
        <p class="student_num"><%= current_student.team %>組</p>
        <p class="student_num"><%= current_student.number %>番：</p>
        <p class="student_name"><%= current_student.name %></p>
      <% else %>
        右上のボタンから<b>「ログイン」</b>または<b>「新規登録」</b>してください
      <% end %>
    </div>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer class="footer">
      <p class="footer-content">Copyright Connecting the Dots -for Students 2021.</p>
    </footer>
  </body>
</html>
